<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Lo De Maria Atelier</title>
    <script defer src="../js/validacionformulario.js"></script>
</head>
<body>
    <header>
        <a href="../index.html" class="logohover">
            <img src="../assets/logo-fixed.png" alt="logo">
        </a>
        <div class="navegacion">
            <a href="../templates/yarnyregia.html?id=1">YARN ART & REGIA</a>
            <a href="../templates/cencherle.html?id=2">CENCHERLE</a>
            <a href="../templates/fibrasu.html?id=3">FIBRAS URBANAS</a>
            <a class="hover-nav" href="../templates/contactos.html">CONTACTOS</a>

        </div>



    </header>

    <main class="contenedor-productos">

        <div class="contenedor-formulario">
            <form action="" class="formulario" onsubmit="return validarFormulario()">

                <div class="campo">
                    <label for="nombre">Nombre</label>
                    <input type="text" required id="nombre" name="nombre" placeholder="Coloque su nombre">

                </div>

                <div class="campo">
                    <label for="apellido">Apellido</label>
                    <input type="text" required id="apellido" name="apellido" placeholder="Coloque su apellido">

                </div>

                <div class="campo">
                    <label for="Nacimiento">Fecha de nacimiento</label>
                    <input type="date" required id="Nacimiento" name="Nacimiento" placeholder="Coloque fecha de nacimiento">
                </div>
                

                <div class="campo">
                    <label for="correo">Correo</label>
                    <input type="email" required id="correo" name="correo" placeholder="Correo">
                    
                </div>

                <div class="campo">
                    <label for="tecnica">¿Qué técnica te interesa?</label>
                    <select id="tecnica" name="tecnica" required>
                        <option value="">Seleccione una opción</option>
                        <option value="opcion 1">Dos Agujas</option>
                        <option value="opcion 2">Crochet</option>
                        <option value="opcion 3">Telar</option>
                        <option value="opcion 4">Otra (especificar en campo de consulta)</option>
                    </select>

                </div>

                <div class="campo">
                    <label for="consulta">Consulta</label>
                    <textarea id="consulta" placeholder="Descripcion"></textarea>

                </div>

                <div class="campo">
                    <input type="submit" value="Enviar">

                </div>

            </form>
        </div>

    </main>
    
</body>

<footer>
    <div class="redes-sociales">
        <div class="instagram">
            <img src="../assets/bxl-instagram.svg" alt="logo instagram">
            <a href="https://www.instagram.com/lo.de.maria.atelier?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram de la Página</a>
        </div>
        <div class="instagram">
            <img src="../assets/bxl-instagram.svg" alt="logo instagram">
            <a href="https://www.instagram.com/mi.alma.en.colores?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram Mi Alma En Colores</a>
        </div>
        <div class="instagram">
            <img src="../assets/bxl-instagram.svg" alt="logo instagram">
            <a href="https://www.instagram.com/yolita.monclus?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram Yolitamon </a>
        </div>
    </div>

    <div class="autor">
        <div class="logo-texto">
            <img src="../assets/bxl-visual-studio.svg" alt="logo visual studio">
            <p>página creada para practicas profesionales</p>
        </div>

        <div>
            Luján, Mendoza, Argentina
        </div>

        <div>
            <p>desde 2015</p>
        </div>

    </div>
    
    
</footer>
</html>